{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'stats/style.css' %}">
    <title>Статистика по боям</title>
</head>
<body>
    <h1>Статистика по боям</h1>

    {% for antitek in antitakes %} 
    <div>
        <ul>
            <l1>{{forloop.counter}}. {{antitek.fighter}} отразил {{antitek.r_protect_takedown}} тейков на событии {{antitek.event}} против {{antitek.opponent}}  </l1>
        </ul>

    </div>
    {% endfor %}
</body>
</html>